<html class="vh-100">
  <div class="card p-3 col-md-8 col-lg-6 m-auto">
    <h1 class="mb-4">Login</h1>

    <div class="d-flex mb-4" *ngIf="profileType != 'Admin'">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="radio-btn"
          id="radio-btn-doctor"
          (change)="setProfile('Doctor')"
        />
        <label class="form-check-label" for="radio-btn-doctor"> Doctor </label>
      </div>
      <div class="form-check ms-4">
        <input
          class="form-check-input"
          type="radio"
          name="radio-btn"
          id="radio-btn-patient"
          [checked]="true"
          (change)="setProfile('Patient')"
        />
        <label class="form-check-label" for="radio-btn-patient">
          Patient
        </label>
      </div>
    </div>

    <form
      *ngIf="profileType == 'Patient'"
      [formGroup]="loginPatForm"
      (ngSubmit)="onPatLogin()"
    >
      <p class="text-muted">Logging in as Patient</p>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="patemail"
        />
        <label class="form-label" for="email">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="patpassword"
        />
        <label class="form-label" for="password">Password</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Login
      </button>
    </form>

    <form
      *ngIf="profileType == 'Doctor'"
      [formGroup]="loginDocForm"
      (ngSubmit)="onDocLogin()"
    >
      <p class="text-muted">Logging in as Doctor</p>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="docemail"
        />
        <label class="form-label" for="email">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="docpassword"
        />
        <label class="form-label" for="password">Password</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Login
      </button>
    </form>

    <form
      *ngIf="profileType == 'Admin'"
      [formGroup]="loginAdminForm"
      (ngSubmit)="onAdminLogin()"
    >
      <p class="text-muted">Logging in as Admin</p>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="username"
          id="username"
          class="form-control"
          formControlName="username"
        />
        <label class="form-label" for="email">Username</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <label class="form-label" for="password">Password</label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Login
      </button>
    </form>
    <a
      class="text-muted"
      type="button"
      (click)="setProfile('Admin')"
      *ngIf="profileType != 'Admin'"
      >Login as Admin?</a
    >
    <a
      class="text-muted"
      type="button"
      (click)="setProfile('Patient')"
      *ngIf="profileType == 'Admin'"
      >Login as Doctor/Patient?</a
    >
  </div>
</html>
