<p>book-appointment-page works!</p>

<div class="appointment-page">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Dr. {{ selectedDoctor.docfirstname }} {{ selectedDoctor.doclastname }}
          </h5>
          <p class="card-text">
            {{ selectedDoctor.docspecialization }}
          </p>
          <p class="card-text">
            {{ selectedDoctor.docqualification }}
          </p>
          <p class="card-text">
            {{ selectedDoctor.cliniccity }}
          </p>
          <p class="card-text">
            {{ selectedDoctor.clinicaddress }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
