.hero-section{
    background: url('/assets/doctors.jpg') no-repeat bottom;
    background-size: cover;
}

.rotate {
    animation: rotation 10s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }