<div class="hero-section vh-100">
  <div
    class="vh-100 px-4 py-5 text-secondary text-center"
    style="background: rgba(236, 236, 236, 0.253)"
  >
    <div class="">
      <img
        src="/assets/logo-rotate.png"
        height="100"
        class="ms-1 rotate"
        alt="rotate"
      />
      <img
        src="/assets/logo-docportal.png"
        height="100"
        class="ms-1"
        alt="DoctorPortal"
      />
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 my-4">
          Now book and manage appointments with ease. Hassle-free appointment
          booking application. Manage appointments easily.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button
            type="button"
            class="btn btn-outline-success btn-lg px-4 fw-bold"
            (click)="toRegister()"
          >
            Register
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
