<div class="hero-section vh-100 bg-light text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <img
      src="/assets/logo-no-background.png"
      height="100"
      class="ms-1"
      alt="DoctorPortal"
    />
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 my-4">
        Now book and manage appointments with ease. An easy Doctor's appointment
        booking application for patients & an appointment management application
        for Doctors.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
          type="button"
          class="btn btn-outline-success btn-lg px-4 me-sm-3 fw-bold"
          (click)="toRegister()"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>
